html
    head
        title= 'title'
        style
            link(rel='stylesheet', href='./css/style.css')
    body
        h1= 'Click on the cat'
        article
            header
                h2= name
            figure
                img(src='./img/cat.jpg')
            p= "Age: 7"
            p= "Weight: 5kg"
    script(src='./js/main.js')